.popup__input {
    position: relative;
    margin:28px 0 0;
    padding: 0 0 9px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
}

.popup__input:first-of-type {
    margin: 0;
}
